<meta name="title" property="og:title" content="Matteo Zinutti - Portfolio">
<meta property="og:type" content="website">
<meta name="image" property="og:image" content="preview_linkedin.PNG">
<meta name="description" property="og:description" content="My personnal website">
<meta name="author" content="Matteo ZINUTTI">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WXHG8B8VHJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WXHG8B8VHJ');
</script>
